.title_bill_payment
{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}
.row_1_bill_payment,
.row_2_bill_payment,
.row_3_bill_payment,
.row_4_bill_payment,
.row_5_bill_payment
{
    display: flex;
}
/* row_1_bill_payment */
.row_1_bill_payment .logo
{
    flex: 45%;
}
.row_1_bill_payment .logo img
{
    height: 120px;
    width: 120px;
    background-color: #292929;
    display: block;
    margin: 20px auto 0 auto;
    object-fit: cover;
}
.row_1_bill_payment .infor 
{
    flex: 55%;
}
/* row_2_bill_payment */
.row_2_bill_payment .date
{
    flex: 45%;
    font-style: italic;
    text-align: center;
}
.row_2_bill_payment .code
{
    flex: 55%;
    font-weight: bold;
    text-align: center;
}
/* row_3_bill_payment */
.row_3_bill_payment
{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row_3_bill_payment--left
{
    flex: 50%;
    display: flex;
    padding-right: 2px;
}
.row_3_bill_payment--left--left
{
    flex: 45%;
    font-weight: bold;
}
.row_3_bill_payment--left--right
{
    flex: 55%;
}
.row_3_bill_payment--right
{
    flex: 50%;
    display: flex;
    padding-left: 2px;
}
.row_3_bill_payment--right--left
{
    flex: 20%;
    font-weight: bold;
}
.row_3_bill_payment--right--right
{
    flex: 80%;
}
.row_3_bill_payment--left--left p:nth-child(2),
.row_3_bill_payment--right--left p:nth-child(2)
{
    padding-bottom: 20px;
}
.bill_payment textarea
{
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    margin-left: -2px;
}
/* row_4_bill_payment */
.row_4_bill_payment--left
{
    flex: 45%;
    font-style: italic;
    text-align: center;
}
.row_4_bill_payment--left p:nth-child(4)
{
    padding-top: 12px;
}
.row_4_bill_payment--right
{
    flex: 55%;
    display: flex;
}
.row_4_bill_payment--right--left
{
    flex: 50%;
}
.row_4_bill_payment--right--left p:nth-child(1)
{
    font-weight: bold;
    text-transform: uppercase;
}
.row_4_bill_payment--right--right
{
    flex: 50%;
    font-weight: bold;
}
.row_4_bill_payment--right--left p:nth-child(4),
.row_4_bill_payment--right--right p:nth-child(4)
{
    font-weight: bold;
    border-top: 2px solid #000;
    padding-top: 10px;
}
/* row_5_bill_payment */
.row_5_bill_payment .cashier
{
    flex: 45%;
    font-weight: bold;
    text-align: center;
}
.row_5_bill_payment .guest
{
    flex: 55%;
    font-weight: bold;
    text-align: center;
}