/* New Format */
.content-header
{
    position: relative;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    height: 15vh;
    /* background-color: #292929 !important; */
}
.content-header>h1
{
    margin-top: 5vh;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.right_header
{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6vh;
    margin-right: calc(5% - 15px);
    /* margin-top: -50px !important; */
    /* margin-top: 0 !important;
    margin-bottom: 0px !important;
    margin-right: 16px !important; */
}
/* Reset */
button.btn.btn-success.pull-right 
{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

/* Custom */
button.btn.btn-success.pull-right 
{
    display: inline-block;
    position: relative;
    padding: 9px 12px 6px 12px;
    top: 0;
    font-size: 25px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    /* border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
    background: rgba( 22, 230, 137, 1 ); */
    border-bottom: 1px solid #008d4c;
    background: #00a65a;
    color: #fff;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    /* text-transform: uppercase; */
    font-weight: bold;

    -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

button.btn.btn-success.pull-right:hover 
{
    top: -5px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.3 );
    background-color: #008d4c;
    border-color: #398439;

    -webkit-transform: rotateX(20deg);
        -moz-transform: rotateX(20deg);
        -ms-transform: rotateX(20deg);
            transform: rotateX(20deg);
}

button.btn.btn-success.pull-right:active 
{
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
    /* background: #00a65a; */
}
/* Search Box */
.search_box
{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.search_icon
{
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    width: 60px;
    height: 100%;
}
.search_icon i
{
    width: 26px;
    height: 26px;
    color: #ccc;
    font-size: 26px;
}
.search_input
{
    padding: 10px 110px 10px 75px;
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    height: 60px;
    color: #555;
    border: 1px solid rgba(0,0,0,0.1);
}
.search_input:focus
{
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 0;
}
.search_result_count
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 20px;
    width: 110px;
    top: 0;
    right: 0;
    position: absolute;
    font-weight: bold;
    color: #555;
    height: 100%;
    font-size: 14px;
}
.search_result_count span
{
    color: #57b846;
    padding-right: 5px;
}
/* Content */
section.content
{
    margin: 0 5% 0 5%;
    padding: 0;
}
.col-lg-5.col-xs-5
{
    width: 45%;
    margin-left: 5%;
}
.col-lg-7.col-xs-7
{
    width: 45%;
    margin-right: 5%;
}
.box.box-primary form div div.form-group
{
    margin-top: 20px;
}
.box.box-primary form div div.form-group label
{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.box.box-primary form div div.form-group input.form-control
{
    font-size: 16px;
    font-weight: 500;
}
.box.box-primary form div div.form-group input
{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.box.box-primary form div div.form-group img
{
    width: 100% !important;
    height: 300px !important;
    object-fit:cover;
}
.col-lg-5.col-xs-5 div.box.box-primary form div div.form-group:nth-child(4)
{
    margin-top: 60px;
}
.col-lg-5.col-xs-5 div.box.box-primary form div div.form-group:nth-child(4) button.pull-right.btn.btn-default
{
    margin-top: -10px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #f4f4f4;
    vertical-align: middle;
    font-size: 20px;
    color: #444;
    cursor: pointer;
}
.col-lg-5.col-xs-5 div.box.box-primary form div div.form-group:nth-child(4) button.pull-right.btn.btn-default:hover 
{
    color: #0a79df;
}

/* Book tour history */
/* .book_tour_detail-information
{
    padding: 0 !important;
} */
.book_tour_detail-book_tour_history-title
{
    display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.book_tour_detail-book_tour_history-title h2
{
    width: 60%;
    display: table-cell;
}
.book_tour_detail-book_tour_history-title .search_box
{
    width: 40%;
    display: table-cell;
}
.book_tour_detail-book_tour_history .search_box
{
    width: 30%;
    display: table-cell;
}
.book_tour_detail-book_tour_history .search_box .search_icon i
{
    width: 20px;
    height: 20px;
    color: #ccc;
    font-size: 20px;
}
.book_tour_detail-book_tour_history .search_box .search_input
{
    padding: 10px 15px 10px 50px;
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    height: 40px;
    color: #555;
    border: 1px solid rgba(0,0,0,0.1);
}
.box-body-main
{
    width: 100%;
    display: table;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.box-body-left
{
    display: table-cell;
    width: 15%;
    height: 100px;
    /* background: #292929; */
    text-align: left;
    padding-right: 26px;
    font-weight: 700;
    font-size: 18px;
    /* border-right: 1px solid #999; */
    /* text-transform: uppercase; */
}
.box-body-right
{
    display: table-cell;
    width: 85%;
    height: 100px;
    /* background: #000; */
    text-align: left;
    padding-left: 26px;
    font-weight: 500;
    font-size: 18px;
    /* border-left: 1px solid #999; */
    color: #292929;
}
.box-body-left div,
.box-body-right div
{
    margin-bottom: 7px;
}
.book_tour_history
{
    padding: 0 !important;
}
.book_tour_detail-book_tour_history .container
{
    width: 100%;
}

.td_mini_table
{
    background: #f4f4f4;
}
.mini_table
{
    margin-bottom: 0;
    width: 80%;
    margin-left: 10%;
}

.content .pagination {
    align-items: center;
    text-align: center;
}

#pagination {
    align-content: center;
    align-items: center;
    text-align: center;
}
.book_tour_detail-information i
{
    left: 50%;
    margin-top: 15px;
    position: absolute;
    font-size: 20px;
}
.manager_btn
{
    position: relative;
    width: 100%;
    height: 18px;
    margin-bottom: 10px;
}
.custom-btn-danger
{
    position: absolute;
    right: 0px;
    padding: 5px;
    font-size: 18px;
}
.custom-btn-infor
{
    position: absolute;
    right: 120px;
    padding: 5px;
    font-size: 18px;
}

.styles_overlayCenter__YHoO7 {
    z-index: 4999 !important;
}