.react-time-picker__button {
    display: none !important;
}

.react-time-picker__button {
    display: none !important;
}
.react-time-picker__inputGroup {
    height: 34px !important;
}
.react-time-picker__wrapper{
    border-color: #d2d6de !important;
}

.react-time-picker__clock{
    display: none !important;
}
.modal_list_image_pop_up h1
{
    margin-top: 1vh !important;
}
.modal_list_image_pop_up .content-header
{
    height: 8vh;
}
.listImage
{
    /* display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    display: flex;
    flex-direction: row;
    overflow-y: scroll; */
    overflow-y: scroll;
    height: 440px;
    margin-bottom: 40px;
    
}
.imageOfListImage
{
    position: relative;
    height: 210px;
    width: 210px;
    margin: 3px 5px;
    display: inline-block;

}
.imageOfListImage img
{
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    object-fit:cover;
    background: #292929;
}
.imageOfListImage i
{
    position: absolute;
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    top: 5px;
    right: 7px;
}
.imageOfListImage i:hover
{
    font-size: 27px;
}