.icons-form{
    cursor: pointer;
    font-size: 20px !important;
}

.input-double{
    width: 45%;
    float: left;
}

.ml-5{
    margin-left: 10%;
}
.w-30{
    width: 33%;
    float: left;
}

.mr-pr-100{
    margin-right: 100px;
    padding-right: 100px;
}

.color{
    color: yellowgreen;
}

/* .css-10nd86i {
    z-index: 5;
} */

.bd-red{
    border: 1.5px solid red;
    border-top-color: red !important;
}

.css-vj8t7z{
    border-radius: 0px !important;
}

.modal-dialog{
    width: 900px;
}

.fr-toolbar{
    border-top: 0px !important;
}

.box{
    border-top: 0px !important;
}

.container-image {
    position: relative;
  }
  
  .topright-image {
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 20px;
  }
  
  .topright-image img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  .delete-icon{
      font-size: 30px !important;
      /* color: red !important; */
      cursor: pointer;
  }
  .delete-icon:hover{
      color: red !important;
  }

  .refresh-icon{
    font-size: 28px !important;
    /* color: red !important; */
    cursor: pointer;
}
.refresh-icon:hover{
    color: blue !important;
}

  .w-100{
      width: 99% !important;
  }


