.example-modal .modal {
    position: fixed;
    top: 35px;
    /* bottom: auto;
    right: auto;
    left: auto; */
    display: block;
    /* margin: 0 auto; */
    z-index: 9999;
  }

  .example-modal .modal {
    background: transparent !important;
  }
  .opacity-05{
    opacity: 0.3;
    overflow-y: hidden !important;
  }
  .checkbox-modal{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .input-modal{
    margin: 8px 0 0 !important;
    position: relative !important;
  }
  .modal-size{
    width: 65%;
    /* height: 50%; */
  }
  .height-images{
    height: 400px;
    overflow-y: auto;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .opacity-1{
    opacity: 1 !important;
  }